<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>My ToDo List</title>
</head>
<body>
    <nav class="shadowbox"> <a href="/">Today</a> <a href="/my-day">Work To Do</a></nav>
    <main>  <div class="box" id="heading">