<%- include("partials/head.ejs") %>


<div class="main_container">

    <div class="shadowbox">
        <h1 class="text Date">Work To Do</h1>
        <p class="text noclueaboutbutworks"><%= wtasks %> tasks</p>
    </div>
    <div class="shadowbox content">
        <form action="/worktodo" method="post" class="shadowbox">
            <input type="text" name="work_task" placeholder="write a task" class="task write_box">
            <button type="submit" value="submit" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 72 68" fill="none">
                <ellipse cx="36" cy="34" rx="36" ry="34" fill="#B1B2FF"/>
                <line x1="36" y1="12" x2="36" y2="56" stroke="#EEF1FF" stroke-width="4"/>
                <line x1="59" y1="34" x2="13" y2="34" stroke="#EEF1FF" stroke-width="4"/>
              </svg></button>
        </form>
    </div>
    
    <% for( let i = 0; i < work.length; i++ ) { %>
        
        <div class="item">
            <label class="default">
                <input type="checkbox" class="checkbox">
                <span class="checkmark"></span>
                <p class="content"><%= work[i] %></p>
            </label>
        </div>
    <% } %>  
    
</div>
 
<%- include("partials/footer.ejs") %>